- name: Install software
  hosts: local
  tasks:
  - name: Install software
    become: yes
    ansible.builtin.apt:
      update_cache: yes
      name:
        - bat
        - fd-find
        - fish
        - fzf
        - git
        - htop
        - neovim
        - ripgrep
        #- starship
        - tealdeer
        - tmux
        - zoxide

- name: Configure dotfiles
  hosts: local
  tasks:
  - name: Symlink dotfiles
    ansible.builtin.file: 
      src: "{{ playbook_dir }}/home/{{ item | basename }}"
      dest: ~/{{ item | basename}}
      state: link
      force: yes
    with_fileglob: "{{ playbook_dir }}/home/.*"
  
  - name: Ensure ~/.config exists
    ansible.builtin.file:
      path: ~/.config
      state: directory

  - name: Symlink neovim config
    ansible.builtin.file:
      src: "{{ playbook_dir }}/home/nvim_config"
      dest: ~/.config/nvim
      state: link
      force: yes

  - name: Symlink fish config
    ansible.builtin.file:
      src: "{{ playbook_dir }}/home/fish_config"
      dest: ~/.config/fish
      state: link
      force: yes

  - name: Add fish to .bashrc
    ansible.builtin.lineinfile:
      path: ~/.bashrc
      state: present
      line: "exec fish"
