services:
  homepage:
    image: nginx
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./html:/usr/share/nginx/html:ro

  tailscale:
    image: tailscale/tailscale:latest
    restart: unless-stopped
    volumes:
      - tailscale:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    network_mode: host
    cap_add:
      - net_admin
      - net_raw
    environment:
      - TS_ROUTES=192.168.1.0/24
      - TS_USERSPACE=false
    env_file:
      - .env # TS_AUTHKEY

  #  adguardhome:
  #    image: adguard/adguardhome
  #    restart: unless-stopped
  #    ports:
  #      - 53:53/tcp # plain dns over tcp
  #      - 53:53/udp # plain dns over udp
  #      - 8080:80/tcp # http web interface
  #      - 3000:3000/tcp # initial setup web interface
  #    volumes:
  #      - adguardhome-config:/opt/adguardhome/conf # app configuration
  #      - adguardhome-work:/opt/adguardhome/work # app working directory

  #  octoprint:
  #    image: octoprint/octoprint
  #    restart: unless-stopped
  #    ports:
  #      - 8081:80
  #    #devices:
  #    # use `python -m serial.tools.miniterm` to see what the name is of the printer, this requires pyserial
  #    #  - /dev/ttyUSB0:/dev/ttyUSB0
  #    #  - /dev/video0:/dev/video0
  #    volumes:
  #     - octoprint:/octoprint
  #    # uncomment the lines below to ensure camera streaming is enabled when
  #    # you add a video device
  #    #environment:
  #    #  - ENABLE_MJPG_STREAMER=true


volumes:
  #adguardhome-config:
  #adguardhome-work:
  #octoprint:
  tailscale:
